.diary-list {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 8px;
}

@media (max-width: 768px) {
    .diary-list {
        padding: 0 0 0px;
        margin-top: 20px;
    }    
}