:root {
    --color-bg: #0b1120;
    --color-surface: #111827;
    --color-surface-light: #1f2937;

    --color-gold: #d4af37;

    --color-text: #f8fafc;
    --color-text-muted: #94a3b8;

    --color-border: #334155;
}

body {
    margin: 0;

    background-color: var(--color-bg);
    color: var(--color-text);
}

html {
    scrollbar-gutter: stable;
}